:root {
  --left-color: #ef233c;
  --right-color: #f0f2d5;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to top right, var(--left-color), var(--right-color));
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

form {
  border-radius: 25px;
  background-color: white;
  display: flex;
  padding: 28px;
  width: 700px;
  flex-direction: column;
  flex-wrap: nowrap;
}

label {
  margin-top: 20px;
  color: black;
  font-weight: 900;
  font-size: larger;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section div {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 16px;
  border: none;
  background-color: rgb(241, 238, 238);
  border-radius: 25px;
}

input {
  width: 300px;
}

button {
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  width: fit-content;
  background-color: var(--left-color);
  cursor: pointer;
  margin-top: 16px;
  font-weight: bolder;
}

p {
  color: rgb(92, 91, 91);
}

h1 {
  margin: 0px;
}
